<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layout/common/common-header::common-header('标签', '标签')"></head>
<div th:include="layout/common/common-script::common-script"></div>
<body class="docs loader">
<div class="container-fluid container-docs">
    <div th:include="layout/common/common-navigation::common-navigation(null)"></div>
    <div class="main-content row position-relative pb-5">
        <div class="col-xl-9 docs-content pb-5 mt-7">
            <div class="card">
                <div class="card-header" style="border-bottom: 1px solid #eaecf3; padding-bottom: 15px;">
                    全部标签 <span th:text="${response?.data?.content?.size()}" class="badge badge-primary badge-circle ml-1" style="padding: 5px;"></span>
                </div>
                <div class="card-body">
                    <div th:if="${response?.data?.content?.size() == 0}" class="alert alert-modern alert-outline-danger mt-3">
                        <span class="badge badge-danger badge-pill">警告</span>
                        <span class="alert-content">暂无标签，请联系管理员添加。</span>
                    </div>
                    <div th:unless="${response?.data?.content?.size() == 0}" th:each="tag, index : ${response?.data?.content}" class="card mb-0 card-fluid mt-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <a th:text="${tag.name}" th:href="@{'/viewer/tag/' + ${tag.code}}" class="h6"></a>
                                </div>
                                <div class="text-right">
                                    <span th:text="${tag.createTime}" class="h6 font-weight-light text-muted"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body py-3">
                            <div class="d-flex align-items-center">
                                <div class="">
                                    <div class="icon icon-shape bg-warning">
                                        <i class="fas fa-calendar-day text-white"></i>
                                    </div>
                                </div>
                                <div class="pl-3">
                                    <div th:text="${tag.description}" class="text-warning mb-0"></div>
                                </div>
                                <div class="ml-auto text-right">
                                    <a th:text="${tag.articleCount}" class="text-warning text-sm text-underline--dashed"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
