# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# mac os #
.DS_Store

# idea #
.idea
*.iml
target/
*.versionsBackup

_site
.sass-cache
vendor
Gemfile.lock
modules.xml
vcs.xml

site/
dist/
data/

# console #
core/infosphere-console/src/components/ui
