<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="authentication-navbar(activeIndex)" class="tab-container">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeIndex == 1} ? 'active'"
               th:href="@{/viewer/user/login}">用户登录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeIndex == 2} ? 'active'"
               th:href="@{/viewer/user/register}">注册新用户</a>
        </li>
    </ul>
</div>
