<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="md-editor-view">
    <div th:include="layout/editor/md-editor-script::md-editor-script"></div>
    <script th:src="@{/static/js/vender/editor-md/lib/marked.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/prettify.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/raphael.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/underscore.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/flowchart.min.js}"></script>
    <script th:src="@{/static/js/vender/editor-md/lib/jquery.flowchart.min.js}"></script>
</div>