<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--
id: 组件的唯一ID标识
details: 组件详细展示数据
loadScript: 是否加载组件JS脚本, 默认不加载
-->
<div th:fragment="article-context(details, loadScript)">
    <div th:if="${loadScript}">
        <div th:include="layout/editor/md-editor-view::md-editor-view"></div>
    </div>
    <div th:id="${details.code}"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const editor = new EditorEntity([[${details.code}]], [[${details.content}]]);
        const config = new EditorConfigEntity();
        MdEditor.initMarkdownToHTML(editor, config);
        /*]]>*/
    </script>
</div>