<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-header(title, description)">
    <meta charset="utf-8"/>
    <title th:text="${title} + ' - InfoSphere'"></title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta th:content="${description}" name="description"/>
    <meta content="qianmoQ" name="author"/>
    <link rel="stylesheet" th:href="@{/static/css/vender/quick/style.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/infosphere.min.css}">
</head>
