<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-header(title, description)">
    <meta charset="utf-8"/>
    <title th:text="${title} + ' - InfoSphere'"></title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta th:content="${description}" name="description"/>
    <meta content="qianmoQ" name="author"/>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{'/static/images/logo.png'}"/>
    <link rel="stylesheet" th:href="@{/static/css/vender/quick/style.min.css}">
    <link rel="stylesheet" th:href="@{/static/css/infosphere.min.css}">
    <script th:src="@{/static/js/vender/jquery/jquery.min.js}"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
</head>
