<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="index-navbar(activeNavbar)">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeNavbar == 'home'} ? 'active'"
               th:href="@{/home}">最新文章</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeNavbar == 'hottest'} ? 'active'"
               th:href="@{/hottest}">最热文章</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeNavbar == 'recommend'} ? 'active'"
               th:href="@{/recommend}">推荐文章</a>
        </li>
        <li class="nav-item" th:if="${session.SPRING_SECURITY_CONTEXT}">
            <a class="nav-link" th:classappend="${activeNavbar == 'forme'} ? 'active'"
               th:href="@{/forme}">我的文章</a>
        </li>
    </ul>
</div>