<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="index-navbar-data(response)">
    <div th:if="${response.size() == 0}" class="alert alert-modern alert-outline-danger mt-3">
        <span class="badge badge-danger badge-pill">警告</span>
        <span class="alert-content">暂无数据，请注册用户或登录发表文章。</span>
    </div>
    <div th:unless="${response.size() == 0}" th:each="article, index : ${response}" class="shadow-none mt-3">
        <div class="card hover-shadow-lg">
            <div class="card-body py-4">
                <small th:text="${article.createTime}" class="d-block text-sm mb-2"></small>
                <a th:target="_blank" th:href="@{'/viewer/article/' + ${article.code}}" th:text="${article.title}" class="h5 lh-150"></a>
                <p th:text="${#strings.length(article.content) > 200 ? article.content.substring(0, 200) + '...' : article.content}" class="mt-3 mb-0 lh-170"></p>
            </div>
            <div class="card-footer border-0 delimiter-top">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <span class="avatar avatar-sm bg-primary rounded-circle">
                            <img th:if="${article.user.avatar}" class="avatar rounded-circle avatar-sm" th:src="${article.user.avatar}" th:alt="${article.user.avatar}"/>
                            <span th:unless="${article.user.avatar}" th:text="${article.user.username.substring(0, 2)}"
                                  class="avatar bg-primary text-white rounded-circle avatar-sm"></span>
                        </span>
                        <span th:text="${article.user.username}" class="text-sm mb-0 avatar-content"></span>
                    </div>
                    <div class="infosphere-example pb-0 pb-b0" style="border-bottom: 0 solid #e2e8f0;">
                        <div class="tab-example-result pb-0">
                            <a th:each="tag, index : ${article.tags}" th:text="${tag.name}" th:href="@{'/viewer/tag/' + ${tag.code}}" class="badge badge-primary"></a>
                        </div>
                    </div>
                    <div class="col text-right text-right">
                        <div class="actions">
                            <a th:if="${article.published}" class="action-item" data-toggle="tooltip" data-placement="top" title="点赞数">
                                <i data-feather="heart" style="margin-top: -3px;"></i>
                                <span th:text="${article.likeCount}"></span>
                            </a>
                            <a th:if="${article.published}" class="action-item ml-2" data-toggle="tooltip" data-placement="top" title="阅读数">
                                <i data-feather="eye" style="margin-top: -3px;"></i>
                                <span th:text="${article.viewCount}"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
