<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:if="${response}" th:include="layout/common/common-header::common-header('编辑文章', '编辑文章')"></head>
<head th:unless="${response}" th:include="layout/common/common-header::common-header('写文章', '写文章')"></head>
<div th:include="layout/editor/md-editor-script::md-editor-script"></div>
<body class="docs loader">
<div class="container-fluid container-docs">
    <div th:include="layout/common/common-navigation::common-navigation(null)"></div>
    <div class="main-content position-relative pb-5" style="padding-left: 0;">
        <div class="col-xl-12 docs-content pb-5 mt-7" style="padding: 0;">
            <div class="card">
                <!-- 顶部工具栏 -->
                <div class="card-header d-flex justify-content-between align-items-center" style="padding: 10px;">
                    <div class="ml-auto">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#configureModal">文章设置</button>
                    </div>
                </div>

                <!-- 编辑器 -->
                <div class="card-body" style="padding: 0;">
                    <div th:include="layout/editor/md-editor::md-editor(${response?.data?.content}, null, null, null)"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 文章属性 -->
    <div class="modal fade" id="configureModal" tabindex="-1" role="dialog" aria-labelledby="configureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="exampleModalLabel">文章配置</span>
                    <button type="button" class="close btn-sm" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mt-4">
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label form-control-label">文章标题</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control form-control-sm" placeholder="请输入文章标题" name="title" th:value="${response?.data?.title}"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label form-control-label">是否公开</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="publishedTrue" name="published" class="custom-control-input" th:checked="${response?.data?.published == true}"
                                               value="true">
                                        <label class="custom-control-label" for="publishedTrue">公开</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="publishedFalse" name="published" class="custom-control-input"
                                               th:checked="${response?.data?.published == false || response == null}" value="false">
                                        <label class="custom-control-label" for="publishedFalse">私有</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label form-control-label">文章标签</label>
                                <div class="col-sm-9">
                                    <div th:each="tag, index : ${tags}" class="custom-control custom-radio custom-control-inline">
                                        <input th:id="${tag.name}" th:value="${tag.id}"
                                               th:checked="${response?.data?.tags != null ? #lists.contains(response.data.tags.![id], tag.id) : false}" name="tag"
                                               class="custom-control-input" type="checkbox">
                                        <label th:text="${tag.name}" th:for="${tag.name}" class="custom-control-label"></label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary btn-sm btn-publish">发布文章</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<div th:include="layout/common/common-script::common-script"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    $('.btn-publish').click(function () {
        const that = this;
        $(that).prop('disabled', true);

        let notify = new NotifyEntity('', '文章内容不能为空!!!');
        const config = new NotifyConfigEntity();
        config.type = 'danger';
        config.icon = 'alert-triangle';

        const articleInfo = new ArticleEntity();
        articleInfo.id = [[${response?.data?.id}]];
        articleInfo.title = $('input[name="title"]').val();
        articleInfo.content = MdEditor.getValue();
        articleInfo.published = $('input[name="published"]:checked').val();
        const tags = [];
        $('input[name="tag"]:checked').each(function () {
            tags.push({id: $(this).val()});
        })
        articleInfo.tags = tags;

        if (articleInfo.title === undefined || articleInfo.title.trim() === '') {
            notify.message = '文章标题不能为空!';
            CommonNotify.initNotify(notify, config);
            $(that).prop('disabled', false);
            return false;
        }

        if (articleInfo.content.trim() === '') {
            notify.message = '文章内容不能为空!'
            CommonNotify.initNotify(notify, config);
            $(that).prop('disabled', false);
            return false;
        }

        HttpUtils.post('/api/v1/article', articleInfo, function (response) {
            if (response.status) {
                $('#configureModal').modal('hide');

                config.type = 'success';
                notify.message = `发布 [ ${articleInfo.title} ] 成功，即将跳转到文章详情页面`;
                CommonNotify.initNotify(notify, config);
                setTimeout(() => {
                    window.location.href = `/viewer/article/${response.data.code}`;
                }, 1000);
            }
            else {
                notify.message = response.message;
                CommonNotify.initNotify(notify, config);
            }
        }).fail(function (error) {
            notify.message = error;
            CommonNotify.initNotify(notify, config);
        }).always(function () {
            $(that).prop('disabled', false);
        });
    });
    /*]]>*/
</script>
</html>
